@font-face {
    font-family: "Cascadia Mono";
    src: url("CascadiaMono.ttf");
    font-display: swap;
}

:root {
    --snow: #F8F9FB;
    --azureish-White: #CFEAE5; 
    --steel-teal: #508895;
    --blue-sapphire: #1C6180;
    --yankees-blue: #112638;
    --font-family: "Cascadia Mono";
    font-family: var(--font-family);
    color: var(--yankees-blue);
}

body {
    margin: 0;
    background-color: var(--snow);
}

select {
    font-family: var(--font-family);
}

input[type=text], input[type=email], input[type=tel], input[type=date], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    box-sizing: border-box;
    border: 1px solid gray;
    border-radius: 4px;
}

input[type=submit] {
    font-family: var(--font-family);
    width: 100%;
    padding: 14px 20px;
    margin: 20px 0;
    background-color: var(--blue-sapphire);
    color: var(--snow);
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: var(--steel-teal);
}

br {
    margin: 0 0 30px 0;
}

hr {
    color: var(--yankees-blue);
    margin: 50px 0 80px 0;
}

.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}